.movieList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
@media screen and (max-width: 1146px) {
    .movieList {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .movieList {
        grid-template-columns: 1fr;
    }
}
